<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Disease and Drug Recommendation System</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="menu-header">
      <div class="header-left">
        <div class="brand">
          <div class="ai-doctor">Ai Doctor</div>
        </div>
        <div class="menu">
          <div class="menu-item home"><a href="#home">Home</a></div>
          <div class="menu-item about"><a href="#about">About</a></div>
          <div class="menu-item serv">
            <a href="#chatOutput">Services</a>
          </div>
          <div class="menu-item contact"><a href="#contact">Contact</a></div>
        </div>
      </div>
      <div class="navbar-nav">
        <a href="login" class="login-btn btn-text">Sign In</a>
        <a href="logon" class="signup-btn button-btn-primary-color">
          <div class="btn-text2">Sign Up</div>
        </a>
      </div>
    </div>

    <div class="rectangle-26"></div>
    <div class="text-content">
      <div class="vikasit-bharat">Vikasit Bharat</div>
      <div class="virtual-healthcare-for-you">
        Virtual healthcare
        <br />
        for you
      </div>
      <div class="affordable-healthcare-and-online-for-everyone">
        Affordable healthcare and online for everyone
      </div>
    </div>
    <div class="object">
      <img class="home-illustration" src="static/image/home-illustration.png" />
    </div>
  </body>
</html>
